/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter-Variable'),
    url(../fonts/Inter-Variable.woff2) format('woff2'),
    format('woff2 supports variations');
  font-display: swap;
  font-weight: var(--main-font-min-weight) var(--main-font-max-weight);
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(../fonts/PressStart2P-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}
