/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wght' var(--main-font-min-weight);

  background-image: var(--background-gradient);  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header__container, .card {
  background-color: #fff;
  border: 2px solid #000;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 99px;
}

.header__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-family: var(--accent-font-family);
  inline-size: var(--items-width);

  block-size: clamp(327px, calc(233.666px + 13.993vw), 368px);
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(49px, calc(43.366px + 1.502vw), 65px);
}

.header__text {
  font-size: clamp(14px, calc(10.831px + 0.845vw), 23px);
}

.cards__list {
  background-color: #fff;
}

.card:not(:last-child) {
  margin-bottom: 50px;
}

.card__title {
  font-variation-settings: 'wdth' var(--main-font-max-weight);
  padding: 4px 10px;
  font-size: 18px;
}

.card__image {
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__image-item {
  display: block;
  inline-size: 100%;
}

.card__text-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}

.card__icon-button {
  border: none;
}

.sparks {
  opacity: 0;
}

.card__icon-button.is-liked .main-body,
.card__icon-button.is-liked .core,
.card__icon-button.is-liked .contour {
  fill: var(--heart-liked-color);
}

.card__icon-button:active .main-body,
.card__icon-button:active .core {
  fill: var(--heart-liked-color);
}

.card__icon-button:focus,
.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--heart-contour-color);
}

.contour {
  fill: var(--heart-contour-color);
}

.footer {
  padding-block-start: 50px;
  padding-block-end: 100px;
  display: flex;
  justify-content: center;
}

.footer__container {
  inline-size: 306px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: 2px solid #000;
  padding: 15px 20px;
}

.footer__icon {
  width: 28px;
  height: 28px;
}

.footer__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
}

@media (width >= 768px) {
  .footer__container {
    inline-size: 345px;
    flex-direction: row;
    align-items: center;
    gap: 8px
  }

  .footer__icon {
    width: 21px;
    height: 21px;
  }
}

