/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {

  font-family: var(--main-font-family), sans-serif;

  background-image: var(--background-gradient);  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-min-weight);
}


.header__container, .card {
  border: 2px solid #000;
  background-color: #fff;
}

.header {
  padding-top: 98px;
  padding-bottom: 100px;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 0 auto;

  font-family: var(--accent-font-family);
  inline-size: var(--items-width);

  block-size: clamp(327px, calc(233.666px + 13.993vw), 372px);
}

.header__title {
  font-size: clamp(49px, calc(43.366px + 1.502vw), 65px);
  text-transform: uppercase;
}

.header__text {
  font-size: clamp(14px, calc(10.831px + 0.845vw), 23px);
}

.cards__list {
  margin: 0 auto;
  background-color: #fff;
  inline-size: var(--items-width);
}

.card:not(:last-child) {
  margin-bottom: 49px;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wdth' var(--main-font-max-weight);
}

.card__image {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__image-item {
  display: block;
  object-fit: cover;
  object-position: right center;
  inline-size: calc(var(--items-width) - 4px);
  block-size: calc(var(--items-width) - 4px);
}

.card__image::before {
  content: '</html>';
  position: absolute;
  top: 25px;
  right: 25px;

    z-index: 1;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--text-stroke-color), 
    0 1px var(--text-stroke-color), 
    1px 0 var(--text-stroke-color), 
    0 -1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 21px;
  font-size: 18px;
}

.card__buttons-container {
  display: flex;
  justify-content: end;
}

.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}


.card__icon-button .core {
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button .main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--heart-contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .contour {
  fill: var(--heart-contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-liked-color);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-liked-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .contour {
  fill: var(--heart-liked-color);
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s 1 forwards;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
    animation: spark-show 0.3s ease-in 0.3s 1 forwards;
}

.card__icon-button:focus,
.shadow-focused:focus {
  outline: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.shadow-focused {
  transition: box-shadow 0.3s ease;
}

.shadow-focused:focus-visible {
  box-shadow: 2px 2px;
}

.animated__button {
  position: relative;
  overflow: hidden;
}

.animated__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  mix-blend-mode: difference;
} 

.animated__button:hover::before {
  transform: translateX(0);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--heart-contour-color);
}

.contour {
  fill: var(--heart-contour-color);
}

.footer {
  padding-block-start: 50px;
  padding-block-end: 100px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 15px 15px;
  inline-size: 306px;
}

.footer__icon {
  width: 28px;
  height: 28px;
}

.footer__text,
.button__text,
.dialog__text,
.accept__button
 {
  font-family: var(--accent-font-family);
  font-size: 14px;
}

.filter_saturate {
  filter: saturate(40%);
}

.filter_contrast {
  filter: brightness(200%);
}

.filter_hue {
  filter: hue-rotate(45deg);
}

.filter_invert {
  filter: invert(1);
}

.filter_sepia {
  filter: sepia(90%);
}

.filter_blur {
  filter: blur(10px);
}

.multiply_filter {
  filter: hue-rotate(90deg) opacity(0.7);
}

.dialog {
  display: none;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 39px 1fr;
  align-items: center;
  align-content: center;
  gap: 40px 20px;
  padding-inline: 38px;
  padding-block-start: 40px;
  padding-block-end: 27px;
  inline-size: clamp(341px, calc(336.775px + 1.127vw), 353px);
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog:focus {
  outline: none;
}

.dialog__text {
  line-height: 150%;
  text-transform: uppercase;
}

.accept__button {
  grid-column: 1 / 3;
  height: 38px;
  text-transform: uppercase;
}

@media (width > 375px) {

  .header {
    padding-bottom: 96px;
  }  

  .card__title {
    padding-bottom: 4px;
  }  

  .card:not(:last-child) {
    margin-bottom: 50px;
  }

  .footer__container {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    inline-size: 335px;
  }

  .footer__icon {
    width: 21px;
    height: 21px;
  }
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__image::before  {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
} 

