/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --accent-font-family: 'Press Start 2P';
    --main-font-family: 'Inter';

    --items-width: clamp(375px, calc(260.563px + 30.516vw), 700px);

    --background-gradient: repeating-linear-gradient(to right, #d3d3d3, transparent 2px, #d3d3d3 2px),
        repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px, #d3d3d3 2px),
        linear-gradient(to bottom, #e7e7e7, #1a1a1a);

    --heart-contour-color: #000;
    --heart-liked-color: #f00;

    --primary-color: #fff;

    --text-stroke-color: #fff;
}
